/* html, .container-fluid {
   
} */

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

.item {
    width: 100%;
    min-height: 390px;
}

/* .item h2{
    color: #ffd902;
    text-align: center;
    font-weight: 700;
} */

/* .item .links {
    font-weight: bold;
    cursor: pointer;
    color: white;
} */

/* .item .links:hover {
    color: #000;
    text-decoration: none;
} */

.item .col .title {
    position: relative;
    margin-top: 0.5rem;
}

.icons {
    font-size: 4.5rem;
    text-align: center;
}

.not-visible{
    display: none;
}

#correct {
    color: rgb(7, 167, 47);
}

#false {
    color: #ca1919;
}

/* .item h3 {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
} */

.item .button {
    position: relative;
    border-radius: 7px;
    padding: 8px 16px;
    border: none;
    font-size: 1.5rem;
}

/* .item #responsaveis{
    position: relative;
    top: 25px;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
} */

.awnser {
    position: relative;
    font-weight: 600;
    text-align: center;
}

.network {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
}

.network .fa-facebook-f, .fa-whatsapp, .fa-twitter {
    margin-top: 12px;
}


/* #optional {
    color: #fff;
} */

#facebook:hover{
    color: #fff;
    background-color: #4267B2;
    cursor: pointer;
}

#twitter:hover{
    color: #fff;
    background-color:#1da1f2;
    cursor: pointer;
}

#whatsapp:hover{
    color: #fff;
    background-color: #128c7e;
    cursor: pointer;
}

.true {
    background-color: rgb(33, 97, 39);
    color: #fff;
    font-weight: bold;
}

.false {
    background-color: rgb(179, 32, 32);
    color: #fff;
    font-weight: bold;
}

@media(max-width: 720px) {
    h1 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}